@media (min-width:576px) {

    /* header */

    header .left h3 {
        font-size: 20px;
        margin: 0px 0x;
        font-weight: 700;
    }

    header .left h3 span i {
        font-size: 18px;
        margin: 0 2px;
    }

    header .right ul {
        display: flex;
        margin-right: 10px;
    }

    header .right ul li {
        padding: 15px 10px 15px 10px;
    }

    header .right ul li a {
        font-size: 10px;
        font-weight: 600;
    }

    /* main content */
    main .container {
        height: 100vh;
    }

    main .container .grid-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    main .container .grid-content .left-content {
        display: grid;
        align-items: center;
    }

    main .container .grid-content .left-content .innercontent {
        padding-left: 25px;
    }

    main .container .grid-content .left-content .innercontent h6 {
        color: #006989;
        font-size: 13px;
        margin-top: 20px;
    }

    main .container .grid-content .left-content .innercontent h3 {
        font-size: 35px;
        font-weight: 400;
        color: #141414;
        line-height: 40px;
    }

    main .container .grid-content .left-content .innercontent h3 span {
        font-weight: 700;
        margin: 20px 0;
    }

    main .container .grid-content .left-content .innercontent p {
        opacity: 0.5;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    main .container .grid-content .left-content .innercontent button {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    main .container .grid-content .right-content {
        min-height: 50vh;
        position: relative;
    }

    main .container .grid-content .right-content img {
        position: absolute;
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: 50% 25%;
    }

    /* section */

    .section1 .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0px 50px 50px 50px;
    }

    /* icon-menu */
    .section1 .container2 .icon-menu i {
        color: #DB162F;
        text-align: center;
        margin-bottom: 15px;
        line-height: 74px;
        width: 74px;
        height: 74px;
        font-size: 25px;
        border-radius: 50%;
        background-color: #f9e3e6;
        transition: all 0.4s;
    }

    .section1 .container2 .icon-menu a {
        display: block;
        text-decoration: none;
        color: #141414;
        font-weight: 600;
        font-size: 20px;
    }

    .section1 .container2 .icon-menu p {
        opacity: 0.5;
        margin-top: 10px;
    }

    /* section2  */
    /* gallery title */

    .section2 .gallery-title {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 90px;
        width: 90%;
        margin-top: 80px;
    }

    .section2 .gallery-title .title-content {
        margin-left: 5px;
        width: 280px;
    }

    .section2 .gallery-title .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }

    .section2 .gallery-title .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .section2 .gallery-title .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }

    /* row-gallery */

    .section2 .gallery {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90%;
        margin: 50px;
    }

    .section2 .gallery .row-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 0px;
        width: 450px;
    }

    .section2 .gallery .row-gallery .col-gallery {
        position: relative;
    }

    .section2 .gallery .row-gallery .col-gallery .img-container {
        position: relative;
        width: 200px;
    }

    .section2 .gallery .row-gallery .col-gallery .img-container::after {
        width: 100%;
    }

    .section2 .gallery .row-gallery .col-gallery .img-container img {
        border-radius: 6px;
        width: 100%;
        height: auto;
    }

    .section2 .gallery .row-gallery .col-gallery .info {
        position: absolute;
        bottom: 7px;
        left: 7px;
        color: white;
        margin: 8px;
    }

    .section2 .gallery .row-gallery .col-gallery .info .dest {
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
    }

    .section2 .gallery .row-gallery .col-gallery .info .duration {
        font-weight: 400;
        font-size: 11px;
    }




    /* section3 */
    .section3 .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

    }

    /* video */
    .section3 .video-container video {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0px;
        border-radius: 10px;
        width: 500px;
    }

    /* short video title */
    .section3 .shortvid {
        position: relative;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .section3 .shortvid .title-content {
        position: absolute;
        display: inline-block;
        width: 100%;

    }

    .section3 .shortvid .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }

    .section3 .shortvid .title-content .left {
        width: 80%;
        margin-left: 50px;
    }

    .section3 .shortvid .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }

    .section3 .shortvid .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .section3 .shortvid .title-content .right {
        width: 90%;
        margin-right: 50px;
        margin-left: 50px;
    }

    .section3 .shortvid .title-content .right p {
        font-size: 18px;
        text-align: justify;
        opacity: 0.4;
        line-height: 30px;
        padding-top: 30px;
    }

    /* Booknow */
    .section3 .booknow {
        display: flex;
        flex-wrap: wrap;
        width: 88%;
        margin: 250px 0px 100px 50px;
    }

    .section3 .booknow .title-content {
        width: 85%;
    }

    .section3 .booknow .title-content .subtitle {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        padding-left: 45px;
    }

    .section3 .booknow .title-content .subtitle::before {
        width: 35px;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .section3 .booknow .title-content .main-title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
    }

    /* form */
    .section3 .booknow .form {
        width: 100%;
    }

    .section3 .booknow .form .form-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0px;
        gap: 20px;
        width: 100%;
    }

    .section3 .booknow .form .form-container .box label {
        font-weight: 600;
    }

    .section3 .booknow .form .form-container .box select,
    .booknow .form .form-container .box input,
    .booknow .form .form-container .box button {
        width: 90%;
        font-size: 15px;
        line-height: 25px;
        padding: 12px 12px 12px 12px;
        color: #8C8C8C;
        border-radius: 6px;
        border: 1px solid transparent;
        background: #F2F2F2;
        height: 50px;
        margin: 10px 0;
    }

    .section3 .booknow .form .form-container .box button {
        background-color: #006989;
        font-weight: 700;
        color: white;
    }

    /* section4 */

    .section4 .imgcontainer {
        background-image: url(img/bc1.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        z-index: 1;
        color: white;
        padding: 0px;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .section4 .imgcontainer::before {
        background-color: rgba(8, 67, 76, 0.74);
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        z-index: -1;
    }

    .section4 .imgcontainer .signup .title-content .subtitle {
        color: #d8b02c;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-weight: 700;
        position: relative;
        padding-left: 70px;
    }

    .section4 .imgcontainer .signup .title-content .subtitle::before {
        display: block;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #db162f;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .section4 .imgcontainer .signup .title-content .main-title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .section4 .imgcontainer .signup .title-content form {
        display: block;
        padding: 25px 0px;
    }

    .section4 .imgcontainer .signup .title-content p {
        font-size: 14px;
        margin-right: 25px;
    }

    .section4 .imgcontainer .signup .title-content form input {
        float: none;
        border: none;
        width: 85%;
        margin-bottom: 10px;
        padding: 13px 100px 13px 20px;
        border-radius: 6px;
        font-size: 14px;
    }

    .section4 .imgcontainer .signup .title-content form button {
        float: none;
        background-color: #db162f;
        font-size: 14px;
        color: white;
        border: none;
        width: 85%;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
    }


    /* section5 */
    .section5 .feedbackcontainer {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 100px 0px 20px 30px;
    }

    .section5 .feedbackcontainer .feedback .title-content {
        width: 100%;
    }

    .section5 .feedback .title-content .subtitle {
        color: #006989;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-weight: 700;
        position: relative;
        padding-left: 70px;
    }

    .section5 .feedback .title-content .subtitle::before {
        display: block;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #db162f;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    .section5 .feedback .title-content .main-title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
    }

    .section5 .feedbackcontainer .fb-grid {
        width: 96%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    .section5 .feedbackcontainer .fb-grid .fb1,
    .fb-grid .fb2,
    .fb-grid .fb3 {
        border: 1px solid rgb(0, 0, 0, 0.2);
        border-radius: 6px;
        margin: 6px;
    }

    .section5 .feedbackcontainer .fb-grid .para {
        padding: 15px;
        font-size: 15px;
        color: rgb(0, 0, 0, 0.5);
    }

    .section5 .feedbackcontainer .fb-grid:hover .para {
        color: white;
    }

    .section5 .feedbackcontainer .fb-grid .icon-container {
        display: flex;
        padding: 5px;
    }

    .section5 .feedbackcontainer .fb-grid .fb1:hover,
    .fb2:hover,
    .fb3:hover {
        background-color: #006989;
        color: white;
    }

    .section5 .feedbackcontainer .fb-grid .fb1:hover h3,
    .fb2:hover h3,
    .fb3:hover h3 {
        color: #d8b02c;
    }

    .section5 .feedbackcontainer .fb-grid .icon-container .icon {
        display: flex;
    }

    .section5 .feedbackcontainer .fb-grid .icon-container .icon img {
        padding: 10px;
        width: 70px;
        border-radius: 50%;
    }

    .section5 .feedbackcontainer .fb-grid .icon-container .identity {
        display: block;
        padding-top: 16px;
        font-size: 14px;
    }


    /* foot-main */
    .foot-main {
        display: block;
        width: 100%;
        padding: 6% 6%;
        background-color: black;
    }

    /* footer */
    .foot-main .footer-container {
        background-color: black;
    }

    .foot-main .footer-container .footer-flex {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }

    /*footer compartment1 */

    .foot-main .footer-container .footer-flex .stroll {
        width: 30%;
    }

    .foot-main .footer-container .footer-flex .stroll h3 {
        width: 400px;
        font-size: 34px;
        color: #DB162F;
        font-weight: 800;
    }

    .foot-main .footer-container .footer-flex .stroll h3 span i {
        color: white;
        font-size: 27px;
        margin: 0 5px;
        transition: all 0.2s;
    }

    .foot-main .footer-container .footer-flex .stroll p {
        color: rgb(255, 255, 255, 0.74);
        padding: 15px 0px;
        font-size: 15px;
        width: 450px;
    }

    .foot-main .footer-container .footer-flex .stroll .icons {
        display: flex;
        flex-wrap: nowrap;
        width: 400px;
    }

    .foot-main .footer-container .footer-flex .stroll .icons span {
        color: #fff;
        width: 45px;
        height: 45px;
        background: rgba(255, 255, 255, 0.06);
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        font-size: 25px;
        line-height: 45px;
        margin: 5px;
    }

    .foot-main .footer-container .footer-flex .stroll .icons span:hover i {
        color: #DB162F;
    }

    /*footer compartment2 */

    .foot-main .footer-container .footer-flex .links-gridcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        padding: 30px;
    }

    .footer-container .footer-flex .links-gridcontainer .hadc {
        color: rgb(255, 255, 255, 0.74);
        padding: 10px 10px;
        width: 175px;
    }

    .footer-container .footer-flex .links-gridcontainer .hadc ul li {
        font-size: 14px;
    }

    .footer-container .footer-flex .links-gridcontainer .lfst {
        color: rgb(255, 255, 255, 0.74);
        padding: 10px 10px;
        width: 175px;
    }

    .footer-container .footer-flex .links-gridcontainer .lfst ul li {
        font-size: 14px;
    }

    .footer-container .footer-flex .links-gridcontainer .hadc h3,
    .lfst h3 {
        padding-bottom: 30px;
        color: white;
        font-size: 15px;
    }


    /*footer compartment3 */

    .foot-main .footer-container .footer-flex .iggallery {
        max-width: 100%;
    }

    .foot-main .footer-container .footer-flex .iggallery h3 {
        color: white !important;
        padding: 30px 15px 20px 5px;
        font-size: 15px;
    }

    .foot-main .footer-container .footer-flex .iggallery .rowgallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 13px 15px;
        width: 350px;
    }

    .footer-container .footer-flex .iggallery .rowgallery .colgallery .img-container {
        width: 155px;
    }

    .footer-container .footer-flex .iggallery .rowgallery .colgallery .img-container img {
        border-radius: 6px;
        width: 100%;
        height: auto;
    }

    /* footer copyright */
    footer {
        background-color: rgba(0, 0, 0, 0.96);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        color: rgb(255, 255, 255, 0.74);
    }
    footer .copyrights {
        display: grid;
        justify-content: center;
        width: 100%;
        font-size: 12px;
    }
 
    footer .copyrights .left a {
        color: white;
        text-decoration: none;
    }

    footer .copyrights .right {
        display: flex;
        justify-content: center;
        width: 100%;
        list-style-type: none;
    }

    footer .copyrights .right ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    footer .copyrights .right ul li {
        padding: 15px;
    }

    footer .copyrights .right ul li:hover {
        color: #006989;
    }
}